// ########################################
// Variables
// ########################################
$color-bg: #222831;
$color-btn: #363f4d;
$color-btn-hover: #434e5f;
$white: #eee;
$warn: #f86d6d;
$padding_1: 1rem;
$padding_2: 0.5rem;

$Nunito-R: "Nunito-Regular";
$Nunito-Bo: "Nunito-Bold";
$Nunito-SemiBo: "Nunito-SemiBold";
$Nunito-Bl: "Nunito-Black";
$Caveat-R: "Caveat-Regular";
$Caveat-Bo: "Caveat-Bold";
