.asio-matrix {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;

  th,
  td {
    padding: 0.25rem 0.5rem;
    text-align: center;
  }

  td:first-child {
    text-align: left;
  }

  tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.04);
  }
}