@import base

.titlebar 
    height: var(--topbar_height)
    background: var(--primary_color)
    user-select: none
    display: flex
    justify-content: flex-end
    position: fixed
    z-index: 99
    top: 0
    left: 0
    right: 0

.titlebar-button 
    display: inline-flex
    justify-content: center
    align-items: center
    width: var(--topbar_height)
    height: var(--topbar_height)
    transition: background 0.2s ease

.titlebar-button:hover
    background: $white
    cursor: pointer

.main
    width: calc(100% - var(--icon_size) - $padding_1 - $padding_1 - $padding_1)
    background-color: $color-bg
    margin-top: var(--topbar_height)
    margin-left: calc(var(--icon_size) + $padding_1 + $padding_1 + $padding_1)
    transition: all 0.2s ease
    .TabContainer
        min-height: calc(var(--icon_size) + $padding_2 + $padding_2 - $padding_1)
        position: fixed
        top: 40px

        .tab
            font-family: $Nunito-Bo
            font-size: var(--font_size_1)
            color: var(--primary_color)
         
            border-top: 0.2rem solid var(--primary_color)
            border-left: 0.2rem solid var(--primary_color)
            border-right: 0.2rem solid var(--primary_color)
            min-width: var(--tab_width)
            text-align: center
            border-top-left-radius: 0.5rem
            border-top-right-radius: 0.5rem
            padding: $padding_2
            transition: background-color 0.1s ease, color 0.1s ease, border 0.1s ease
            &:hover
                cursor: pointer
                color: $white
                border: 0.2rem solid rgba($white, 0.8)

        .addTab
            fill: var(--primary_color)
            width: calc(var(--icon_size) - 1rem)
            transition: fill 0.2s ease, transform 0.2s ease
            &:hover
                cursor: pointer
                fill: $white
                transform: scale(1.1)

    .SoundContainer
        overflow-y: auto
        padding: 0 $padding_2 $padding_2 0
        margin-top: calc(var(--icon_size) + $padding_2 + $padding_2 - $padding_1 + var(--topbar_height))
        max-height: calc(100vh - var(--topbar_height) - var(--icon_size) - $padding_2 - $padding_2 - $padding_1 - $padding_1)
        .SoundTab
            min-height: 100px
            .Soundbtn
                font-family: $Nunito-Bo
                font-size: var(--font_size_2)
                color: $white
                background-color: $color-btn
                padding: $padding_1
                border-radius: 0.5rem
                max-width: var(--btn_width)
                min-width: var(--btn_width)
                word-wrap: break-all
                hyphens: auto
                text-align: center
                transition: background-color 0.2s ease, color 0.2s ease, font-family 0.2s ease
                &:hover
                    cursor: pointer
                    background-color: $color-btn-hover
                    color: var(--primary_color)
                    outline: none
                &.active
                    background-color: var(--primary_color)
                    color: $color-bg
                    font-family: $Nunito-Bo
                    outline: none

.searchMove
    margin-top: calc(var(--topbar_height) + var(--icon_size) + $padding_1 + $padding_1 - $padding_1)
// ########################################
// Popups
// ########################################
.renameContainer
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: $color-bg
    padding: calc($padding_1 + $padding_1)
    border-radius: 0.5rem
    border: 0.2rem solid var(--primary_color)
    min-width: 50%
    max-width: 100px
    min-height: 20%
    z-index: 3
    input
        min-width: 10rem
        width: 80%
        padding: $padding_2 $padding_1
        border-radius: 0.4rem
        min-height: var(--icon_size)
        border: none
        background: $color-bg
        border: 0.2rem solid var(--primary_color)
        color: var(--primary_color)
        font-family: $Nunito-R
        font-size: var(--font_size_1)
        transition: all 0.2s ease
        &:focus
            padding: $padding_2 $padding_1
            background: rgba($white, 0.1)
            outline: none
    .ErrorMsg
        position: absolute

        color: $warn
        font-family: $Nunito-R
        font-size: var(--font_size_1)
        top: 2rem

.ErrorAlert
    position: fixed
    .ErrorMessageBox
        position: fixed
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        border-radius: 0.5rem
        width: 30%
        min-width: 500px
        max-width: 700px
        padding: $padding_1
        min-height: 20%
        background: $color-bg
        border: 0.2rem solid var(--primary_color)
        z-index: 3
        text-align: center

// ########################################
// Assets
// ########################################
.BGBlur
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    backdrop-filter: blur(4px)
    background: rgba($color-bg, 0.5)
    z-index: 2

.exit
    fill: var(--primary_color)
    width: calc(var(--icon_size) - 0.5rem)
    position: absolute
    right: 1rem
    top: 1rem
    transition: all 0.2s ease
    &:hover
        fill: $white
        transform: scale(1.1)
        cursor: pointer

.icon
    fill: var(--primary_color)
    max-width: var(--icon_size)
    max-height: var(--icon_size)
    min-width: var(--icon_min_size)
    min-height: var(--icon_min_size)
    &:hover
        fill: $white
        cursor: pointer

// ########################################
// Settings
// ########################################
.settingsContainer
    width: 80%
    max-width: 600px
    .setting
        padding-bottom: $padding_1
        border-bottom: 0.1rem solid var(--primary_color)
    label
        color: var(--primary_color)
        font-family: $Nunito-Bo
        font-size: var(--font_size_1)
        min-width: 30%

    input[type=range]
        height: 1rem
        -webkit-appearance: none
        width: 70%
        border-radius: 1rem
        border: none
        &::-webkit-slider-thumb
            height: 2rem
            width: 2rem
            border-radius: 50%
            background: var(--primary_color)
            border: 0.2rem solid $color-bg
            cursor: pointer
            -webkit-appearance: none
            margin-top: -0.5rem
            transition: width 0.2s ease, height 0.2s ease, border 0.2s ease, margin-top 0.2s ease
        &::-webkit-slider-runnable-track
            width: 70%
            height: 1rem
            cursor: pointer
            animate: 0.2s
            box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.7)
            background: linear-gradient(90deg, hsl(0,100%, 58%) 0%, hsl(36,100%, 58%) 10%,hsl(72,100%, 58%) 20%, hsl(108,100%, 58%) 30%, hsl(144,100%, 58%) 40%, hsl(180,100%, 58%) 50%, hsl(216,100%, 58%) 60%, hsl(252,100%, 58%) 70%, hsl(288,100%, 58%) 80%, hsl(324,100%, 58%) 90%, hsl(360,100%, 58%) 100%)
            border-radius: 1rem
        &:hover
            &::-webkit-slider-thumb
                outline: none
                height: 3rem
                width: 3rem
                margin-top: -1rem
                border: 0.4rem solid $color-bg

    input[type=range]:focus
        outline: none
    input[type=range]:focus

    select
        width: 70%
        padding: $padding_1
        border-radius: 0.5rem
        border: none
        background: $color-bg
        border: 0.2rem solid var(--primary_color)
        color: var(--primary_color)
        font-family: $Nunito-R
        font-size: var(--font_size_1)
        transition: background 0.2s ease
        &:focus
            outline: none
        &:hover
            padding: $padding_1
            background: rgba($white, 0.1)
            outline: none
            cursor: pointer
        option
            color: var(--primary_color)
            font-family: $Nunito-Bo
            font-size: var(--font_size_1)
            background: $color-bg
            border: 0.2rem solid var(--primary_color)
            &:hover, &:checked, &:active
                box-shadow: 0 0 10px 100px #000 inset
                background: var(--primary_color) !important
                color: $color-bg !important
